# Mackup configuration
# https://github.com/lra/mackup

[storage]
engine = file_system
path = ghq/github.com/nodeselector/dotfiles/prefs/mackup
directory = Mackup

[applications_to_sync]
# Add applications you want to backup here
# Run `mackup list` to see all supported applications

[applications_to_ignore]
# Applications to explicitly skip
